<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

 .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp{
    border-radius:25px ; 
    padding: 0.5rem 3rem 0.5rem ;
  }

  .navbar-collapse {
  background-color: white !important;
  padding: 1rem; /* optional: thoda space dene ke liye */
  border-radius: 0.5rem; /* optional: soft corners ke liye */
}
</style>





<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
    <!-- aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
   
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
 </ul>
      <form class="d-flex mx-auto my-2 my-md-0" role="search" style="max-width: 400px; width: 100%;">
        <input
          class="form-control me-2 search-inp"
          type="search"
          placeholder="Search destinations"
          aria-label="Search"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>


     

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </li>
        <% if(!currentUser){ %>
   <li class="nav-item">
          <b><a class="nav-link" aria-current="page" href="/signup">SignUp</a></b>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="/login">Login</a></b>
        </li>


       <% }%>



        <% if(currentUser){ %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>


       <% }%>       
     


      </ul>      
    </div>
  </div>
</nav>