
<% layout("/layouts/boilerplate") %>
<body>


<div class="row col-8 offset-2">
<br><br>
    <h3>Create New Listing</h3>
 <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" id="" placeholder="enter title" class="form-control" required>
               <div class="invalid-feedback">
                title should be valid
             </div>
        </div>

        

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="" class="form-control" required></textarea>
             <div class="invalid-feedback">
                description should be valid
             </div>
        </div>

      
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input  name="listing[price]" id="" placeholder="enter price" class="form-control" required>
             <div class="invalid-feedback">
                price should be valid
             </div>
        </div>

        

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" id="" placeholder="enter country" class="form-control" required>
             <div class="invalid-feedback">
                country should be valid
             </div>
        </div>
        </div>




     

        <!-- <div class="mb-3">
            <label for="image" class="form-label">image</label>
            <input type="text" name="listing[image][url]" id="" placeholder="image url" class="form-control" required>
             <div class="invalid-feedback">
                image url should be valid
             </div>
        </div> -->



        <div class="mb-3">
            <label for="image" class="form-label">Upload image</label>
            <input type="file" name="listing[image][url]" id=""  class="form-control" required>
             <div class="invalid-feedback">
                Please choose image
             </div>
        </div>




        

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" id="" placeholder="enter location" class="form-control" required>
             <div class="invalid-feedback">
                location should be valid
             </div>
        </div>
       
        <br>

        <button class="btn btn-dark add-btn">Add</button> 
        <br><br>
    </form>
    
</div>

   
</body>

