body{
    /* font-family: ;
     */

     display: flex;
     flex-direction: column;
     min-height: 100vh;
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
      line-height: 1.6;
  letter-spacing: 0.2px;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem ;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
text-decoration: none;
color: #222222;
}
.f-info-links a:hover{
text-decoration: underline;

}

.f-info-links , .f-info-socials ,.br{
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;

    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.list-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;


}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important ;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    background-color: white;
    opacity: 0.2;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-img{
    height: 40vh !important;

}
.card-text{
    text-align: center;
    
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
.the-div{
    display: flex;
    
}

#map { 

    height: 400px;
    width: 80vh;

 }